.ItemCard {
  background: #f3f3f3;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border-top: 0.4rem solid #00a7e2;
  border-bottom: 0.4rem solid #00a7e2;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.ItemCard h1 {
  border-left: 0.4rem solid #00a7e2;
  text-align: left;
  padding-left: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}
